[buildout]
develop = .
parts = test
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
versions = versions

[versions]
zope.publisher =

[test]
recipe = zc.recipe.testrunner
eggs = zope.publisher [test]
