[buildout]
develop = .
parts = test
versions = versions

find-links = http://download.zope.org/distribution/

[versions]
zope.traversing = 3.4.0
zope.app.publisher = 3.4.0

[test]
recipe = zc.recipe.testrunner
eggs = zope.publisher
