include *.rst
include *.txt
include tox.ini
include .travis.yml
include .coveragerc
include bootstrap.py
include buildout.cfg

recursive-include src *
recursive-include docs *py *rst
recursive-include docs Makefile

global-exclude *.pyc
